// colors
$primary-black: #323232;
$primary-blue: #0095FF;
$primary-silver: #afafaf;
$primary-white: #ffffff;
$secondary-black: #000000;
$secondary-blue: #0065AD;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;