@font-face {
  font-family: "AvenirNext";
  font-weight: 700;
  src: url("/assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"),
    url("/assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "AvenirNext";
  font-weight: 400;
  src: url("/assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("/assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
}

$site-font-family: "AvenirNext", "Geneva", "Verdana", "sans-serif";

// desktop & tablet

$page-header-size: 2.0625rem;
$page-header-weight: 700;
$page-header-line-height: 2.75rem;

$section-size: 0.75rem;
$section-weight: 700;
$section-line-height: 1.25rem;

$subheader-size: 0.875rem;
$subheader-weight: 700;
$subheader-line-height: 1.375rem;

$body-size: 0.875rem;
$body-weight: 400;
$body-line-height: 1.375rem;

$labels-buttons-size: 0.75rem;
$labels-buttons-weight: 700;
$labels-buttons-line-height: 1.25rem;

// mobile
$page-header-size-mobile: 1.5rem;
$page-header-weight-mobile: 700;
$page-header-line-height-mobile: 2rem;

$subheader-size-mobile: 0.8125rem;
$subheader-weight-mobile: 700;
$subheader-line-weight-mobile: 1.125rem;

$body-size-mobile: 0.8125rem;
$body-weight-mobile: 400;
$body-line-height-mobile: 1.125rem;
