@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/typography' as *;

.Hero {
    background-color: $secondary-black;
    display: flex;

    @include tablet {
        padding: 0 2.25rem;
    }

    @include desktop {
        padding: 0;
    }

    &__video {
        width: 100%;
        aspect-ratio: 16/9;

        @include tablet {
            width: 43.5625rem;
            height: 24.5625rem;
            margin: 0 auto;
        }

        @include desktop {
            height: 29.75rem;
            width: 52.875rem;
            margin: 0 auto;
        }
    }
}