@use "styles/partials/colors" as *;
@use "styles/partials/breakpoints" as *;
@use "styles/partials/typography" as *;

* {
  box-sizing: border-box;
}

body {
  font-family: $site-font-family;
  margin: 0;
}

a {
  font-size: $labels-buttons-size;
  font-weight: $body-weight;
  line-height: $labels-buttons-line-height;
  color: $primary-white;
  text-decoration: none;
}

input {
  &::placeholder {
    font-family: $site-font-family;
    font-size: $body-size-mobile;
    font-weight: $body-weight-mobile;
    line-height: $body-line-height-mobile;

    @include tablet {
      font-size: $body-size;
      font-weight: $body-weight;
      line-height: $body-line-height;
    }
  }
}

label {
  font-family: $site-font-family;
  font-size: $body-size-mobile;
  font-weight: $body-weight-mobile;
  line-height: $body-line-height-mobile;
  text-transform: uppercase;

  @include tablet {
    font-size: $body-size;
    font-weight: $body-weight;
    line-height: $body-line-height;
  }
}

textarea {
  font-family: $site-font-family;
  font-size: $body-size-mobile;
  font-weight: $body-weight-mobile;
  line-height: $body-line-height-mobile;

  @include tablet {
    font-size: $body-size;
    font-weight: $body-weight;
    line-height: $body-line-height;
  }
}

button {
  cursor: pointer;
  font-family: $site-font-family;
  font-size: $labels-buttons-size;
  font-weight: $body-weight;
  line-height: $labels-buttons-line-height;
  text-transform: uppercase;
  color: $primary-white;
  height: 2.5rem;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0;

  @include tablet {
    width: 9.375rem;
  }
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}
